input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  height: 100vh;
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.container-padding {
  padding-right: 20px;
  padding-left: 20px;
}
.scaleonhover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.scaleonhover:hover {
  transform: scale(1);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.marquee-container {
  width: 100%; /* Adjust as needed */
  overflow: hidden; /* Hides overflow content */
  white-space: nowrap; /* Prevent line breaks */
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 8s linear infinite; /* Adjust timing for speed */
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}
